<div class="d-flex justify-content-center flex-column">
  <div class="card text-bg-light mx-auto mb-3 w-50">
    <div class="card-header"><i class="bi bi-info-square-fill"></i> {{ tituloForm }}</div>
    <div class="card-body">
      <div class="card-body">
        <!-- <h5 class="card-title">Formulario para añadir o editar clientes.</h5> -->
        <form class="p-fluid grid formgrid" (keydown.enter)="$event.preventDefault()" #clientForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label"><i class="bi bi-person-fill"></i> Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              [(ngModel)]="client.name"
              aria-describedby="emailHelp"
              required
              minlength="3"
              maxlength="255"
              #name="ngModel"
            >
            <div id="nameHelp" class="form-text text-danger"
                 *ngIf="name.invalid && (name.dirty || name.touched)">

              <div *ngIf="name.errors?.['required']" class="">El nombre es obligatorio.</div>
              <div *ngIf="name.errors?.['minlength']" class="">El nombre debe tener mínimo 3 carácteres.</div>
              <div *ngIf="name.errors?.['maxlength']" class="">El nombre debe tener máximo 255 carácteres.</div>

            </div>
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label"><i class="bi bi-person-fill-add"></i> Last Name</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              id="lastName"
              [(ngModel)]="client.lastName"
              required
              minlength="3"
              maxlength="255"
              #lastname="ngModel"
            >
            <div id="lastnameHelp" class="form-text text-danger"
                 *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">

              <div *ngIf="lastname.errors?.['required']" class="">El apellido es obligatorio.</div>
              <div *ngIf="lastname.errors?.['minlength']" class="">El apellido debe tener mínimo 3 carácteres.</div>
              <div *ngIf="lastname.errors?.['maxlength']" class="">El apellido debe tener máximo 255 carácteres.</div>

            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label"><i class="bi bi-envelope-at-fill"></i> Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              [(ngModel)]="client.email"
              required
              email
              #email="ngModel"
            >

            <div id="emailHelp" class="form-text text-danger"
                 *ngIf="email.invalid && (email.dirty || email.touched)">

              <div *ngIf="email.errors?.['required']" class="">El email es obligatorio.</div>
              <div *ngIf="email.errors?.['email']" class="">Formato de email incorrecto.</div>

            </div>
          </div>

          <div class="mb-3">
            <label class="form-label"><i class="bi bi-flag-fill"></i> País</label>
            <div class="field col-12 md:col-4">
              <p-autoComplete
                [style]="{'width': '100%','height':'38px'}"
                name="country"
                [(ngModel)]="client.country"
                [suggestions]="results"
                (completeMethod)="search($event)"
                field="name"
                (onSelect)="handleSelected($event)"
                [forceSelection]="true"
                placeholder="Elegir país..."
                [required]="true"
                #country="ngModel"
              >
              </p-autoComplete>
            </div>
          </div>

          <div id="countryHelp" class="text-autocomplete form-text text-danger"
               *ngIf="country.invalid && (country.dirty || country.touched)">

            <div *ngIf="country.errors?.['required']" class="">Elegir un país es requerido.</div>

          </div>


          <div class="mb-3">
            <label for="createAt" class="form-label"><i class="bi bi-calendar3-week-fill"></i> Fecha</label>
            <input
              type="date"
              name="createAt"
              class="form-control"
              id="createAt"
              [(ngModel)]="client.createAt"
              required
              #createAt="ngModel"
            >

            <div id="createAtHelp" class="form-text text-danger"
                 *ngIf="createAt.invalid && (createAt.dirty || createAt.touched)">
              <div *ngIf="createAt.errors?.['required']" class="">La fecha es obligatoria.</div>
            </div>
          </div>

          <button (click)="createClient()" *ngIf="!client.id else elseBlock" type="submit"
                  class="btn btn-primary container-fluid" [disabled]="!clientForm.form.valid">
            <i class="bi bi-journal-check"></i> Guardar
          </button>
          
          <ng-template #elseBlock>
            <button (click)="updateClient()" type="submit" class="btn btn-primary container-fluid"
                    [disabled]="!clientForm.form.valid">
              <i class="bi bi-pencil-square"></i> Actualizar
            </button>
          </ng-template>

        </form>

      </div>
    </div>
  </div>
</div>
