<header>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">{{ titulo }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/clients">Clientes</a>
          </li>

          <li
            *ngIf="authService.isAuthenticated() && (authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_SELLER'))"
            class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="clients/form">Añadir Cliente</a>
          </li>

          <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Directivas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLinkActive="active" class="dropdown-item" aria-current="page" routerLink="/ngif">NgIf</a>
              <a routerLinkActive="active" class="dropdown-item" aria-current="page" routerLink="/ngfor">NgFor</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">Something else here</div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">

          <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person-circle"></i> {{ authService.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <div class="dropdown-item">
                <a (click)="logout()" class="btn btn-secondary btn-sm container-fluid" aria-current="page"
                   routerLink="login">
                  <i class="bi bi-door-closed"></i> Logout</a>
              </div>
            </div>
          </li>
          <li *ngIf="!authService.isAuthenticated()" class="nav-item" routerLinkActive="active">
            <a class="nav-link btn btn-secondary btn-sm" aria-current="page" routerLink="login">Sign In</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
