<div *ngIf="load" class="overlay mx-auto">
  <div class="d-flex justify-content-center align-items-center align-content-center gap-2">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="loading-text">
      Subiendo...
    </div>
  </div>
</div>

<div class="" *ngIf="client">
  <div class="card text-bg-light mb-3 w-50 card-max-width mx-auto">
    <div class="card-header">{{ client.name }} {{ client.lastName }}</div>
    <div class="card-body">

      <div *ngIf="!client.imgUrl">
        <img class="img-list-profile float-start" src="./assets/img/img-client-default.webp" alt="">
      </div>

      <div *ngIf="client.imgUrl">
        <img class="img-list-profile float-start" src="{{ client.imgUrl }}" alt="">
      </div>

      <h5 class="card-title">Datos Cliente</h5>

      <div class="card-text">

        <ul class="list-group ul-li-max-width">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Full Name</div>
              {{ client.name }} {{ client.lastName }}
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Email</div>
              {{ client.email }}
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Create At</div>
              {{ client.createAt }}
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
  <div class="card my-3 mx-auto card-max-width">
    <div class="card-header"><i class="bi bi-person-square"></i> Upload new photo:</div>
    <div class="card-body text-secondary mx-auto">
      <div class="card-text">
        <form [formGroup]="photoInput" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
            <input type="file" class="form-control file-upload" formControlName="photo" id="photo" name="photo"
                   (change)="onFileSelect($event)">
            <button class="btn btn-primary" type="submit" [ngClass]="enabled ? 'disabled' : ''"><i
              class="bi bi-cloud-arrow-up-fill"></i> Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-form></app-form>
</div>
