<div *ngIf="load" class="overlay mx-auto">
  <div class="d-flex justify-content-center align-items-center align-content-center gap-2">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="loading-text">
      Subiendo...
    </div>
  </div>
</div>

<div class="" *ngIf="client">
  <div class="card col-12 col-xl-6 text-bg-light mb-3 mx-auto">
    <div class="card-header d-flex justify-content-between align-content-center align-items-center">
      <div class="text-dark-emphasis">{{ client.name }} {{ client.lastName }}</div>
      <a *ngIf="authService.hasRole('ROLE_ADMIN')" title="Edit" class="btn btn-primary btn-sm" aria-current="page"
         [routerLink]="['/clients/form', client.id]">
        <i class="bi bi-pencil-square"></i> Edit
      </a>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col col-12 col-xl-6 text-center mb-2">
          <div *ngIf="!client.imgUrl">
            <img class="img-fluid rounded-3 border border-1 border-light shadow"
                 src="./assets/img/img-client-default.webp" alt="">
          </div>

          <div *ngIf="client.imgUrl">
            <img class="img-fluid rounded-3 border border-1 border-light shadow" src="{{ client.imgUrl }}" alt="">
          </div>
        </div>
        <div class="col col-12 col-xl-6">
          <div class="h5 d-flex justify-content-between align-items-center">
            <div class="card-title">Datos Cliente</div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Full Name</div>
                {{ client.name }} {{ client.lastName }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Email</div>
                {{ client.email }}
              </div>
            </li>
            <li *ngIf="client.country" class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Country</div>
                {{ client.country?.name }} ({{ client.country?.code | getFlag }})
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Create At</div>
                {{ client.createAt | date: "EEEE dd, MMMM YYYY"  }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="card col-12 col-xl-6  my-3 mx-auto">
    <div class="card-header"><i class="bi bi-person-square"></i> Upload new photo:</div>
    <div class="card-body text-secondary mx-auto">
      <div class="card-text">
        <form [formGroup]="photoInput" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
            <input type="file" class="form-control file-upload" formControlName="photo" id="photo" name="photo"
                   (change)="onFileSelect($event)">
            <button class="btn btn-primary" type="submit" [ngClass]="enabled ? 'disabled' : ''"><i
              class="bi bi-cloud-arrow-up-fill"></i> Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
