html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100rem;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.swal2-container {
  z-index: 100000 !important;
}
